{% extends "base.html.twig" %}

{% block body %}


    <h1>Annuler une sortie</h1>

    Nom de la sortie : {{ sortie.nom }} <br>
    Date de la sortie : {{ sortie.dateHeureDebut|date('d-m-Y') }} <br>
    Campus : {{ sortie.Campus.nom }}<br>
    Lieu : {{ sortie.Lieu.nom }}



    {{ form_start(cancelForm) }}
    {{ form_widget(cancelForm) }}


    {{ form_end(cancelForm) }}


    {% include 'footer.html.twig' %}


{% endblock %}