{% extends "base.html.twig" %}
{% block body %}
    <h1>Créer une sortie</h1>




    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}


    <button>Publier la sortie</button>
    {{ form_end(sortieForm) }}


    <ul>
        <li>
            <a href="{{ path('app_sorties') }}">Retour à la liste de sorties</a>
        </li>
    </ul>
{% endblock %}

{#  fetch("{{ path('apiVilles') }}/" + citySelector).then(response => response.json()).then(data => { updateSelect(data) });#}


{% block javascripts %}

    <script>

        function init (){

            let selectVille = document.getElementById('create_new_form_ville');
            selectVille.addEventListener('change', function (){

                fetch("{{ path('apiVilles') }}/" + this.value)
                    .then(response => response.json())
                    .then(data => { updateSelect(data) });
            })
        }

        function updateSelect(data){
            console.log(data);

        }





        window.onload= init;
    </script>
{% endblock %}