{% extends 'base.html.twig' %}




        {% block title %}Listes des sorties {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">
{% endblock %}




        {% block body %}

            <h1>Accueil</h1>
            <br>
            <br>
            <br>
            <br>
            <h3>Filtrer les sorties</h3>



            {{ form_start(filterForm) }}

            {{ form_widget(filterForm) }}

            <button>Filtrer</button>

            {{ form_end(filterForm) }}



        <div class="container">

            <table class="container">

                <thead>


                <tr> <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                </tr>
                </thead>

                <tbody>
            {% for liste in listes %}

                <tr> <td>{{ liste.nom }}</td>
                    <td>{{ liste.dateHeureDebut|date('d/m/Y') }}</td>
                    <td>{{ liste.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ liste.participantsInscrits.count }}</td>
                    <td>{{ liste.etat.libelle }}</td>
                    <td>{% if liste.participantsInscrits is not null %}

                        {%  if liste.participantsInscrits.contains( user) %}
                            X
                        {% else %}

                        {% endif %}
                        {% endif %}</td>

                    <td>
                        {{ liste.organisateur.userIdentifier }}
                    </td>
                    <td>
                        <a href="{{ path('createNew') }}">Modifier</a>

                    </td>

                </tr>

            {% endfor %}

                </tbody>


            </table>
            <a href="{{ path('createNew') }}">Créer une sortie</a>
        </div>




        {% endblock %}




