{% extends 'base.html.twig' %}




        {% block title %}Listes des sorties {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">
{% endblock %}




        {% block body %}

            <h1>Accueil</h1>
            <br>
            <br>
            <br>
            <br>
            <h3>Filtrer les sorties</h3>

            <select name="campus">

                {% for campus in ListesCampus %}
                    <option value="{{ campus.id }}">{{ campus.nom }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="search" placeholder="search">
            <br>
            <p> Entre </p>
            <input type="date" name="firstDate" min="2020-04-01" />
            <p> Et </p>
            <input type="date" name="SecondDate"  max="2024-04-30" />
            <br>
            <br>
            <input type="checkbox" id="sortieOrganisateur" name="sortieOrganisateur"   >
            <label for="scales">Sorties dont je suis l'organisateur/trice</label>
            <br>
            <input type="checkbox" id="sortieInscrit" name="sortieInscrit" checked>
            <label for="scales">Sorties auxquelles je suis inscrit/e</label>
            <br>
            <input type="checkbox" id="sortieNonInscrit" name="sortieNonInscrit" checked>
            <label for="scales">Sorties auxquelles je ne suis pas inscrit/e</label>
            <br>
            <input type="checkbox" id="sortiesPasses" name="sortiesPasses" checked>
            <label for="scales">Sorties passées</label>


            {% for liste in listes %}
        <div class="container">

            <table class="container">

                <thead>


                <tr> <th>Nom de la sortie</th> <th>Date de la sortie</th> <th>Clôture</th> <th>inscrits/places</th>
                    <th>Etat</th> <th>Inscrit</th> <th>Organisateur</th> <th>Actions</th>
                </tr>
                </thead>

                <tbody>


                <tr> <td>{{ liste.nom }}</td> <td>{{ liste.dateHeureDebut|date('d/m/Y') }}</td> <td>{{ liste.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ liste.participantsInscrits.count }}</td> <td>{{ liste.etat.libelle }}</td>
                    <td>{% if liste.participantsInscrits is not null %}

                        {%  if liste.participantsInscrits.contains( user) %}
                            X
                        {% else %}

                        {% endif %}
                        {% endif %}</td>

                    <td>
                        {{ liste.organisateur.userIdentifier }}
                    </td>
                    <td>
                        action
                    </td>

                </tr>
                </tbody>


            </table>

        </div>
        {% endfor %}

        {% endblock %}




