<link rel="stylesheet" href="{{ asset('css/nav.css') }}">

<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-sm navbar-dark bg-black py-0 px-0">
        <a class="navbar-brand" href="{{  path('app_sorties') }}"><img id="logo" src="https://thumbs.dreamstime.com/b/ic-ne-v%C3%A9rifi%C3%A9e-de-calendrier-logo-solide-d-%C3%A9v%C3%A9nement-isolat-de-pictogramme-90234676.jpg"> &nbsp;&nbsp;&nbsp;Sortir</a>
        <span class="v-line"></span>

        {#        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
        {#            <span class="navbar-toggler-icon"></span>#}
        </button>
        <div class="burgerMenu" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item"> <a href="{{ path('app_sorties') }}" class="nav-link">Liste des sorties</a> </li>
                <li class="nav-item"> <a href="{{ path('app_profil_affichage') }}" class="nav-link">Mon profil</a> </li>
                {% if app.user %}
                    <li class="nav-item"><a href="{{ path('createNew') }}" class="nav-link">Créer Une Sortie</a></li>
                    <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Se connecter</a></li>
                {% endif %}
                <div class="img-profile">
                    <a href="{{ path('app_profil_affichage') }}"> <img src="https://www.kindpng.com/picc/m/311-3119342_werner-heisenberg-png-download-transparent-png.png" alt=""/></a>
                </div>

               <li class="navProfil">{{ app.user.userIdentifier }}</li>

            </ul>
        </div>
    </nav>
</div>
<br>
<br>
<br>

